body {
  width: 80%;
  background-color: lavenderbush;
  border-width: 2em;
  border-color: black;
}

.top p {
  font-family: Arial, times, georgia;
  font-style: italic;
  font-size: 85%;
  text-indent: 1.5em;
}

h1 {
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  color: lightseagreen;
}

.middle p {
  font-family: Arial, times, georgia;
  font-style: italic;
  font-size: 85%;
  text-indent: 1.5em;
}

h2 {
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  color: indigo;
}

.bottom p {
  font-family: Arial, times, georgia;
  font-size: 85%;
  text-indent: 1.5em;
}

 h3 {
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  color: green;
 }