body {
  margin: 70px 0px;
  padding: 0px;
  background-color: lightseagreen;
}

#content {
  background-color: white;
  margin: auto;
  height: absolute;
}

.header-image {
  padding-left: 10px;
  padding-top:10px;
  float: left;
}

.header-name {
  color: mediumturquoise;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 5px;
}

h3, .section-title {
  font-family: 'Overlock', cursive;
  color: teal;
}

.biography p, .work li {
  color: black;
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: 80%;
}

.biography, .work, .section-title {
  margin-left: 20px;
}


.contact {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.contact a {
  text-decoration: none;
  color: mediumturquoise;
  font-size: 80%;
}

.social {
  text-align: center;
}