body {
  margin: 70px 0px;
  padding: 0px;
  background-color: lightskyblue;
}

#content {
  background-color: white;
  margin: auto;
  height: fixed;
}

img {
  top: 50%;
  left: 50%;
}

.header-name {
  color: lightseagreen;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.section-title {
  color: darkslategray;
  font-family: 'Playfair Display', serif;
}

h3 {
  font-family: 'Lato', sans-serif;
  color: midnightblue;
}

.biography p, .resume li {
  color: black;
  font-family: 'Poiret One', cursive;
  font-size: 75%;
}

.biography, .resume, .section-title {
  margin-left: 20px;
}
.contact {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.contact a {
  text-decoration: none;
  font-color: lightseagreen;
  font-size: 80%;
}