body {
  margin: 50px 0px;
  padding: 0px;
  background-color: black;
}

#content {
  background-color: gainsboro;
}

img {

}

.header-name {
  color: lightseagreen;
  font-family: 'Playfair Display', serif;
}

h2, .section-title {
  color: darkslategray;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
  color: blue;
}

.biography p, .resume p {
  color: black;
  font-family: 'Poiret One', cursive;
}

